﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="react-homepage-root"></div>

@section Styles {
    <link href="~/dist/styles/home.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/dist/home.js"></script>
}
